
div.offlineMessage {
    display: none;
}
div.markerInfo {
    background-color: #fff;
    color: #00688B;
    padding: 5px;
}

div.markerInfo span{
    clear:both;
    display:block;
}

div.clusterInformationContainer span{
    clear:both;
    display:block;
}

#map {
    width:100%;
    height:100%;
    position:absolute;
}

#clustersview {
    display:none!important;
    
}

/* announcements */

#newsViewContent span.item-title {
    display:block;
    padding-bottom: 8px;
    font-size: 1.1em;
    font-weight:bold;
    color: #00688B;
}

#newsViewContent span.item-info {
    display:block;
    padding-bottom: 3px;
    font-size: 0.9em;
    color: #666;
}

.km-ios #home .km-list {
    border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

